h1{
    text-align: center;
    color:#ff3c00 ;
    font-size: 40;
    font-style: italic;
    font-family:Comic sans MS;
    padding-top: 10px;
}
.container{
    position: relative;
}
.table1{
    position: absolute;
    top: 8;
    left: 33%;
}
input{
    color: gray;
    padding: 10px;
}
#regester{
    background-color: #ff3c00;
    color: aliceblue;
     border: none;
}
a:link{
    color: #ff3c00;
}
a:visited{
    color: #ff3c00;
}